In [2]:
import pandas as pd

# Charger le fichier CSV dans un DataFrame
file_path = 'C:/Users/Salma/OneDrive/Documents/Deep learning/FILL-ROUGE/steam-200k.csv'
df = pd.read_csv(file_path, header=None, names=['user_id', 'game', 'behavior', 'hours', '0'])

# Afficher les premières lignes du DataFrame pour vérifier
df.head()

     user_id                        game  behavior  hours  0
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
1  151603712  The Elder Scrolls V Skyrim      play  273.0  0
2  151603712                   Fallout 4  purchase    1.0  0
3  151603712                   Fallout 4      play   87.0  0
4  151603712                       Spore  purchase    1.0  0

In [10]:
# Supprimer la colonne '0' du DataFrame
df = df.drop('0', axis=1)

# Afficher les premières lignes du DataFrame mis à jour
df.head()

     user_id                        game  behavior  hours
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0
2  151603712                   Fallout 4  purchase    1.0
3  151603712                   Fallout 4      play   87.0
4  151603712                       Spore  purchase    1.0

In [11]:
# Identifier les jeux qui ont été achetés mais non joués
game_purchased_no_played = df[df['behavior'] == 'purchase']

# Filtrer les jeux qui ont également l'action "play"
game_purchased_no_played = game_purchased_no_played[~game_purchased_no_played['game'].isin(df[df['behavior'] == 'play']['game'])]

# Afficher les jeux achetés mais non joués
game_purchased_no_played.head()

      user_id                                      game  behavior  hours
55  151603712         Fallout New Vegas Courier's Stash  purchase    1.0
56  151603712              Fallout New Vegas Dead Money  purchase    1.0
57  151603712           Fallout New Vegas Honest Hearts  purchase    1.0
60  151603712  HuniePop Official Digital Art Collection  purchase    1.0
61  151603712              HuniePop Original Soundtrack  purchase    1.0

In [13]:
# Sauvegarder les résultats dans un nouveau fichier CSV
result_file_path = 'C:/Users/Salma/OneDrive/Documents/Deep learning/FILL-ROUGE/game_purchased.csv'
game_purchased_no_played.to_csv(result_file_path, index=False)

In [10]:
# Charger la première table (jeux achetés)
path_achetes = 'C:/Users/Salma/OneDrive/Documents/Deep learning/FILL-ROUGE/game_purchased.csv'
df_achetes = pd.read_csv(path_achetes)

# Charger la deuxième table (jeux joués)
path_joues = 'C:/Users/Salma/OneDrive/Documents/Deep learning/FILL-ROUGE/steam-200k_clean.csv'  # Remplacez par le chemin de votre fichier
df_joues = pd.read_csv(path_joues)

In [11]:
# Concaténer les deux DataFrames
concatenated_df = pd.concat([df_achetes, df_joues], ignore_index=True)
concatenated_df.head()

     user_id                                      game  behavior  hours
0  151603712         Fallout New Vegas Courier's Stash  purchase    1.0
1  151603712              Fallout New Vegas Dead Money  purchase    1.0
2  151603712           Fallout New Vegas Honest Hearts  purchase    1.0
3  151603712  HuniePop Official Digital Art Collection  purchase    1.0
4  151603712              HuniePop Original Soundtrack  purchase    1.0

In [12]:
# Sauvegarder le DataFrame concaténé en fichier CSV
result_file_path = 'C:/Users/Salma/OneDrive/Documents/Deep learning/FILL-ROUGE/game_played_purchesed.csv'
concatenated_df.to_csv(result_file_path, index=False)